/* common css */



/* 重置 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 加载 Google 字体 */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher'), url(http://font.qiniudn.com/Philosopher.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://font.qiniudn.com/Titillium Web.woff) format('woff');
}
body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Philosopher", "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
input,
textarea,
select,
.btn {
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
:focus {
  outline: none;
}
ul,
ol {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}

/* 浮动 */
.float-left,
.fl {
  float: left !important;
}
.float-right,
.fr {
  float: right !important;
}

/* 清除浮动 */
.clearfix,
.cf {
  *zoom: 1;
}
.clearfix:before,
.cf:before,
.clearfix:after,
.cf:after {
  display: table;
  content: " ";
  line-height: 0;
}
.clearfix:after,
.cf:after {
  clear: both;
}

/* 隐藏文字 */
.hidden-text,
.ht {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* 字体alignment */
.text-center{
  text-align: center;
}

/* 形状 */
.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  *zoom: 1;
}
.circle {
  border-radius: 50%;
}

.mgl50 {
	margin-left: 50px !important;
}

.mgr50 {
	margin-right: 50px !important;
}


.hide {
  display: none;
}
img {
  width: 100%;
}
.blur {
  -webkit-filter: blur(18px);
  -moz-filter: blur(18px);
  -ms-filter: blur(18px);
  filter: blur(18px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=18, MakeShadow=false);
}

.inner {
	width: 800px;
	height: 450px;
	margin: auto;
}
.inner p {
  line-height: 1.8em;
}

/* 布局 */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

.btn {
    display: block;
    height: 38px;
	padding-left: 20px;
	padding-right: 20px;
    border-radius: 19px;
    font-size: 12px;
    line-height: 38px;
    margin-bottom: 30px;
	background: #ffffff;
    text-decoration: none;
    color: #2d2d2d;
}
.btn:hover {
	background: #f5f9fa;
}

.intro {
	width: 400px;
	height: 150px;
	text-indent: 100%;
	margin-top: 150px;
	background: url(../images/icon.png) no-repeat;
}
.intro-container {
	height: 100%;
}
.intro-1 {
	height: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-position: 0 0;
}
.intro-1-below {
	height: 180px;
}

.intro-1-below .qrcode {
	float: left;
	width: 140px;
	height: 140px;
}

.intro-1-below .btns {
	float: right;
	margin-right: 50px;
	padding-top: 25px;
}

.intro-2 {
	background-position: 0 -100px;
}
.intro-3 {
	background-position: 0 -250px;
}
.intro-4 {
	background-position: 0 -400px;
}

.icon {
	text-indent: 100%;
	display: inline-block;
	overflow: hidden;
	width: 20px;
	height: 20px;
	vertical-align: middle !important;
	background: url(../images/icon.png) no-repeat;
}
.icon-iphone, .icon-android {
	height: 21px;
	width: 20px;
	margin-right: 10px;
}
.icon-android {
	background-position: -20px -550px;
}
.icon-iphone {
	background-position: 0 -550px;
}


.section {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
/*
.section-1 {
	background-image: url(../images/bg-1.jpg);
}
.section-2 {
	background-image: url(../images/bg-2.jpg);
}
.section-3 {
	background-image: url(../images/bg-3.jpg);
}
.section-4 {
	background-image: url(../images/bg-4.jpg);
}
.section-5 {
	background-image: url(../images/bg-5.jpg);
*/
}

.footer-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
/*	border-top: 1px solid #eeeeee;*/
}
#footer {
	padding: 20px 0;
	width: 1000px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 24px;
	overflow: auto;
/*	color: #666;*/
	color: #fff;
	text-align: center;
}
#footer p {
	margin: 0;
}
#footer a {
/*	color: #666666;*/
	color: #fff;
	text-decoration: none;
}