/**
 * Created by mingxianjun on 2015/7/21.
 */
@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,div{margin:0;padding:0;font-family:'宋体','Microsoft Yahei',sans-serif;}
img{border: none;}
html{color: #333;height: 100%;}
header,section,article,footer{display: block;}
ul,ol{list-style:none}a{text-decoration:none}a:hover{text-decoration:none;}.wordwrap{word-break:break-all;}
.mg_auto{margin: 0 auto;} .center{text-align: center} .fl{float: left;} .fr{float: right;} .clear,.clear:after{clear: both;content: " ";display: block;}
input,button,textarea{outline: none;} .hide{display: none!important;}
body{font-size: .6rem;max-width: 720px;overflow-x: hidden;margin: 0 auto;position: relative;height: 100%;overflow: hidden;background: #444;}
/*    page style    */
.swiper-container{height: 100%;}
.swiper-slide{height: 100%;overflow: hidden;}
.home_loding{height: 100%;background: #0b1d31;position: relative;}
.loding{position: absolute;width: 1rem;height: 1rem;bottom: 7rem;}
.loding_a{background: url("../img/loding_a.png") no-repeat;background-size: contain;left: 4.2rem;animation:la 2s infinite linear;-webkit-animation:la 2s infinite linear;}
.loding_b{background: url("../img/loding_b.png") no-repeat;background-size: contain;left: 5.5rem;animation:lb 2s infinite linear;-webkit-animation:lb 2s infinite linear;}
.loding_c{background: url("../img/loding_c.png") no-repeat;background-size: contain;left: 6.8rem;animation:la 2s infinite linear;-webkit-animation:la 2s infinite linear;}
.home_bg{position: absolute;display: block;left: 0;top: -47rem;}
.home_clock{height: 100%;background: url("../img/home_clock_bg.jpg") no-repeat;background-size: cover;position: relative;}
.clock_box{position: absolute;width: 10rem;height: 4.8rem;left: 1rem;bottom: 3rem;background: url("../img/clock_a.png") no-repeat;background-size: contain;}
.clock_box.b{background: url("../img/clock_b.png") no-repeat;background-size: contain;}
.clock_box.c{background: url("../img/clock_c.png") no-repeat;background-size: contain;}
.text_box{position: relative;color: #fff;z-index: 1;font-size: .5rem;height: 100%;}
.text_box .text{width: 2.5rem;position: absolute;right: 1rem;top: 1rem;}
.text_box .text div{width: .5rem;margin-right: .2rem;word-break: break-all;word-wrap: break-word;text-align: center;line-height: .65rem;display: none;}
.code_box{position: absolute;width: 5.2rem;height: 1.7rem;color: #fff;z-index: 1;left: 4rem;bottom: 8.2rem;font-size: .3rem;line-height: .4rem;}
.txt_light{color: #00e4ff;}
#code{background: url("../img/home_bg.jpg") no-repeat;background-size: cover;}
.code_box:after{content:"▁";animation:flash .6s steps(2,start) infinite;-webkit-animation:flash .6s steps(2,start) infinite;}
.code_box.gameover:after{display:none;}
#bug{background: url("../img/bug_bg_a.jpg") no-repeat;background-size: cover;}
.bug_bug_text{position: absolute;width: 100%;height: 100%;left:0;top: 0;background: url("../img/bug_bg_b.png") no-repeat;background-size: cover;}
#smoke{background: url("../img/smoke_bg.jpg") no-repeat;background-size: cover;}
.smoke_bg{position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: #111;display: none;}
.smoke_code{position: absolute;width: 11rem;height: 10rem;color: #fff;left: 1rem;top: 5rem;font-size: .5rem;z-index: 4;}
.smoke_code:after{content:"▁";animation:flash .6s steps(2,start) infinite;-webkit-animation:flash .6s steps(2,start) infinite;}
.smoke_code.gameover:after{display:none;}
.recruit{background: #0a0b08;}
.rec_light{position: absolute;right:0;top:0;height: 17rem;width: 9rem;background:  url("../img/recruit_light.png") no-repeat;background-size: cover;z-index: 2;display: none;}
#recruit_a .rec_top_text{position: absolute;width: 8rem;height: 4rem;left: 1rem;top: 2rem;background:url("../img/recruit_a_tops_text.png") no-repeat;background-size: contain;z-index: 3;display: none;}
#recruit_a .rec_bottom_text{position: absolute;width: 5rem;height: 7rem;left: 1rem;bottom: 1.5rem;background:url("../img/recruit_a_bottoms_text.png") no-repeat;background-size: contain;z-index: 5;display: none;}
#recruit_a .rec_man{position: absolute;width: 8.5rem;height: 12rem;right: 0;top: 4rem;background:url("../img/recruit_a_man.png") no-repeat;background-size: contain;z-index: 4;display: none;}

#recruit_b .rec_top_text{position: absolute;width: 8rem;height: 4rem;left: 1rem;top: 2rem;background:url("../img/recruit_b_top_text.png") no-repeat;background-size: contain;z-index: 3;display: none;}
#recruit_b .rec_bottom_text{position: absolute;width: 5rem;height: 7rem;left: 1rem;bottom: 1.5rem;background:url("../img/recruit_b_bottom_text.png") no-repeat;background-size: contain;z-index: 5;display: none;}
#recruit_b .rec_man{position: absolute;width: 9.5rem;height: 14rem;right: 0;top: 4rem;background:url("../img/recruit_b_man.png") no-repeat;background-size: contain;z-index: 4;display: none;}

#recruit_c .rec_top_text{position: absolute;width: 9.5rem;height: 4rem;left: 1rem;top: 1.5rem;background:url("../img/recruit_c_top_text.png") no-repeat;background-size: contain;z-index: 3;display: none;}
#recruit_c .rec_bottom_text{position: absolute;width: 8rem;height: 4rem;left: 1rem;bottom: 1.5rem;background:url("../img/recruit_c_bottom_text.png") no-repeat;background-size: contain;z-index: 5;display: none;}
#recruit_c .rec_man{position: absolute;width: 10.5rem;height: 14rem;right: 0;top: 4rem;background:url("../img/recruit_c_man.png") no-repeat;background-size: contain;z-index: 4;display: none;}

#team{background: url("../img/tema_bg.jpg") no-repeat;background-size: cover;}
.team_box{padding-right: 3.2rem;}
.ttb_item{float: right;color: #fff;font-size: .45rem;padding-top: 1rem;padding-left: .6rem;}
.tbi_text{width: .45rem;word-break: break-all;word-wrap: break-word;text-align: center;line-height: .55rem;padding-top: .4rem;margin-right: .3rem;display: none;}
.tbi_title{width: 1rem;height: 2.5rem;display: none;}
.tbi_title_a{background: url("../img/tema_tc.png") no-repeat center 0;background-size: contain;}
.tbi_title_b{background: url("../img/tema_tb.png") no-repeat center 0;background-size: contain;}
.tbi_title_c{background: url("../img/tema_ta.png") no-repeat center 0;background-size: contain;}

#fenxiang{background: url("../img/fenxiang_bg2.jpg") no-repeat;background-size: cover;}
.erweima{position: absolute;width: 4rem;height: 4rem;left: 4rem;bottom: 3rem;}
#fenxiang_btn{position: absolute;bottom: 1.5rem;left: 4rem;width: 4rem;height: .8rem;background: #2b6590;line-height: .8rem;text-align: center;color: #fff;font-size: .45rem;}
.fenx_mask{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: url("../img/fenxiang_masks.png") no-repeat;background-size: cover;z-index: 1990;}
.next_btn{position: absolute;width: 1rem;;height:1rem;background: url("../img/up_jiantou2.png") no-repeat center 0;bottom: .6rem;left: 5.5rem;
    background-size: contain;z-index: 3;animation:up 2s infinite linear;-webkit-animation:up 2s infinite linear;}
@keyframes up{
    0%{bottom: .8rem}
    20%{bottom: 1rem}
    40%{bottom: 1.2rem}
    60%{bottom: 1rem}
    80%{bottom: .8rem}
    100%{bottom: .8rem}
}
@-webkit-keyframes up{
    0%{bottom: .8rem}
    20%{bottom: 1rem}
    40%{bottom: 1.2rem}
    60%{bottom: 1rem}
    80%{bottom: .8rem}
    100%{bottom: .8rem}
}
/*插件样式覆盖*/
.my-swiper-pagination{position: absolute;height: 1rem;background: #2e5173;z-index: 10;}
.swiper-pagination-bullet{width: 3.8rem;font-size: .45rem;display: inline-block;margin: 0!important;height: .9rem;text-align: center;margin-left: .2rem!important;color: #fff;
    background: none;opacity: 1;line-height: .9rem;border-bottom: .1rem solid #2e5173;}
.swiper-pagination-bullet-active{color: #00ff54;border-bottom: .1rem solid #00ff54;}
b{font-weight: 700;}
/*动画*/
@keyframes la{
    0%{bottom: 6rem}
    20%{bottom: 6.1rem}
    40%{bottom: 6.15rem}
    60%{bottom: 6.2rem}
    80%{bottom: 6.1rem}
    100%{bottom: 6rem}
 }
@-webkit-keyframes la{
    0%{bottom: 6rem}
    20%{bottom: 6.1rem}
    40%{bottom: 6.15rem}
    60%{bottom: 6.2rem}
    80%{bottom: 6.1rem}
    100%{bottom: 6rem}
}
@keyframes lb{
    0%{bottom: 6.2rem}
    20%{bottom: 6.15rem}
    40%{bottom: 6.1rem}
    60%{bottom: 6rem}
    80%{bottom: 6.15rem}
    100%{bottom: 6.2rem}
}
@-webkit-keyframes lb{
    0%{bottom: 6.2rem}
    20%{bottom: 6.15rem}
    40%{bottom: 6.1rem}
    60%{bottom: 6rem}
    80%{bottom: 6.15rem}
    100%{bottom: 6.2rem}
}
@keyframes flash{
    0%{visibility:visible;}
    100%{visibility:hidden;}
}
@-webkit-keyframes flash{
    0%{visibility:visible;}
    100%{visibility:hidden;}
}